[Desktop Entry]
Name=pmount-gui-ng
Comment=mounts or unmounts a removable device
Exec=/usr/local/bin/pmount-gui-ng -f /usr/bin/pcmanfm
Icon=/usr/share/icons/Adwaita/48x48/devices/media-removable.png
Terminal=false
Type=Application
Categories=System;Disk
StartupNotify=false
Path=
